<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>connections</key>
  <dict>
    <key>0DB27BBC-76A1-4D4D-BAD6-55687E4FA328</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>1C0D6CEA-3AA0-4556-A25D-662734EE0AC8</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>1C0D6CEA-3AA0-4556-A25D-662734EE0AC8</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>02C69B47-B83D-499A-B341-97C7AF67DD7F</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>35943455-9266-488B-93E1-A3BC130D5D1C</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>3B805C0B-7483-486D-88C5-840D41E41967</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>0DB27BBC-76A1-4D4D-BAD6-55687E4FA328</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>6F2E42E1-31C4-466E-AADD-915E96D6098A</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
    <key>DED4EC6C-ADA1-4452-A976-156B4F7EC655</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
        <key>vitoclose</key>
        <false/>
      </dict>
    </array>
  </dict>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>alfredfiltersresults</key>
        <false/>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>escaping</key>
        <integer>102</integer>
        <key>queuedelaycustom</key>
        <integer>3</integer>
        <key>queuedelayimmediatelyinitially</key>
        <true/>
        <key>queuedelaymode</key>
        <integer>0</integer>
        <key>queuemode</key>
        <integer>2</integer>
        <key>runningsubtext</key>
        <string></string>
        <key>script</key>
        <string>node_modules/.bin/run-node *.js "$@"</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string>index.js</string>
        <key>subtext</key>
        <string></string>
        <key>title</key>
        <string></string>
        <key>type</key>
        <integer>8</integer>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.scriptfilter</string>
      <key>uid</key>
      <string>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>action</key>
        <integer>0</integer>
        <key>argument</key>
        <integer>0</integer>
        <key>hotkey</key>
        <integer>35</integer>
        <key>hotmod</key>
        <integer>1048576</integer>
        <key>hotstring</key>
        <string>P</string>
        <key>leftcursor</key>
        <false/>
        <key>modsmode</key>
        <integer>2</integer>
        <key>relatedApps</key>
        <array>
          <string>com.apple.finder</string>
        </array>
        <key>relatedAppsMode</key>
        <integer>1</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.hotkey</string>
      <key>uid</key>
      <string>35943455-9266-488B-93E1-A3BC130D5D1C</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>autopaste</key>
        <false/>
        <key>clipboardtext</key>
        <string>{query}</string>
        <key>transient</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.output.clipboard</string>
      <key>uid</key>
      <string>02C69B47-B83D-499A-B341-97C7AF67DD7F</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>matchmode</key>
        <integer>1</integer>
        <key>matchstring</key>
        <string>^\\~</string>
        <key>replacestring</key>
        <string>~</string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.utility.replace</string>
      <key>uid</key>
      <string>1C0D6CEA-3AA0-4556-A25D-662734EE0AC8</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>2</integer>
        <key>keyword</key>
        <string>path</string>
        <key>subtext</key>
        <string></string>
        <key>text</key>
        <string>Copy Path</string>
        <key>withspace</key>
        <false/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>6F2E42E1-31C4-466E-AADD-915E96D6098A</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>triggerid</key>
        <string>copy-path</string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.external</string>
      <key>uid</key>
      <string>DED4EC6C-ADA1-4452-A976-156B4F7EC655</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>acceptsmulti</key>
        <false/>
        <key>filetypes</key>
        <array/>
        <key>name</key>
        <string>Copy Path</string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.action</string>
      <key>uid</key>
      <string>3B805C0B-7483-486D-88C5-840D41E41967</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>matchmode</key>
        <integer>1</integer>
        <key>matchstring</key>
        <string>.*</string>
        <key>replacestring</key>
        <string></string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.utility.replace</string>
      <key>uid</key>
      <string>0DB27BBC-76A1-4D4D-BAD6-55687E4FA328</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
  </array>
  <key>uidata</key>
  <dict>
    <key>02C69B47-B83D-499A-B341-97C7AF67DD7F</key>
    <dict>
      <key>xpos</key>
      <integer>460</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
    <key>0DB27BBC-76A1-4D4D-BAD6-55687E4FA328</key>
    <dict>
      <key>xpos</key>
      <integer>170</integer>
      <key>ypos</key>
      <integer>410</integer>
    </dict>
    <key>1A6A8DC0-41CE-40C3-9F14-44BC801A079D</key>
    <dict>
      <key>xpos</key>
      <integer>210</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
    <key>1C0D6CEA-3AA0-4556-A25D-662734EE0AC8</key>
    <dict>
      <key>xpos</key>
      <integer>390</integer>
      <key>ypos</key>
      <integer>50</integer>
    </dict>
    <key>35943455-9266-488B-93E1-A3BC130D5D1C</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>20</integer>
    </dict>
    <key>3B805C0B-7483-486D-88C5-840D41E41967</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>380</integer>
    </dict>
    <key>6F2E42E1-31C4-466E-AADD-915E96D6098A</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>140</integer>
    </dict>
    <key>DED4EC6C-ADA1-4452-A976-156B4F7EC655</key>
    <dict>
      <key>xpos</key>
      <integer>20</integer>
      <key>ypos</key>
      <integer>260</integer>
    </dict>
  </dict>
  <key>name</key>
  <string>Copy Path</string>
  <key>description</key>
  <string/>
</dict>
</plist>
